.r{
    background-color: rgba(136, 136, 136, 0.13);
    border: solid rgba(0, 0, 0, 0.116) 3px;
    padding: 10px;
    margin-top: 25px;
}
.text-red{
    color: red;
}
.text-green{
    color: rgb(209, 110, 24);
}
.text-blue{
    color: blue;
}